<template>
  <div class="pcoded-content">
    <div class="page-header">
      <div class="page-block">
        <div class="row align-items-center">
          <div class="col-md-12">
            <div class="page-header-title">
              <h5 class="m-b-10">Gestión de Rubricas</h5>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      
      <iframe
        :src="'http://rubricas.test/smarquality'"
        width="100%"
        height="600px"
        frameborder="0"
      ></iframe>
    </div>
  </div>
</template>





<script>
export default {
  data() {
    return {
      filter: "",
      listFilter: [],
      listClientes: [],
      fullscreenLoading: false,
      currentPage1: 1,
      page: 0,
    };
  },
  mounted() {
    this.getListarClientes();
  },
  methods: {
    handleSizeChange(val) {
      console.log(`${val} items per page`);
    },
    handleCurrentChange(val = 0) {
      this.page = val;

      if (val == 0) {
        val = 0;
      } else {
        val = val - 1;
      }

      let inicio = val * 10,
        fin = inicio + 10;
      this.listFilter = this.listClientes.slice(inicio, fin);
    },
    async getListarClientes() {
      this.fullscreenLoading = true;

      var url = "/operacion/cliente/index";

      const res = await this.callGetApi("get", url, {
        filter: this.filter,
      });

      if (res.status == 200) {
        this.listClientes = res.data;
        this.handleCurrentChange();
      } else {
        if (res.status == 401) {
          this.$router.push({ name: "login" });
          location.reload();
          localStorage.clear();
        }
        if (res.status == 419) {
          this.notification("error", "Fue necesario recargar la página", 0);
          location.reload();
        }
      }
      this.fullscreenLoading = false;
    },
    setCambiarEstadoCliente(op, id) {
      this.$swal
        .fire({
          title:
            "¿Está seguro de " +
            (op == 1 ? "desactivar" : "activar") +
            " el cliente?",
          icon: "warning",
          showCancelButton: true,
          confirmButtonColor: "#2196F3",
          cancelButtonColor: "#F44336",
          confirmButtonText: op == 1 ? "Si, desactivar" : "Si, activar",
        })
        .then((result) => {
          if (result.value) {
            this.fullscreenLoading = true;
            var url = "/operacion/cliente/destroy/" + id;

            axios
              .delete(url, {
                params: {
                  status: op == 1 ? "I" : "A",
                },
              })
              .then((response) => {
                this.notification(
                  "success",
                  "Se " + (op == 1 ? "desactivo" : "activo") + " el cliente",
                  0
                );
                this.getListarClientes();
              })
              .catch((error) => {
                if (error.response.status == 401) {
                  this.$router.push({ name: "login" });
                  location.reload();
                  localStorage.clear();
                  this.fullscreenLoading = false;
                }
                if (error.response.status == 419) {
                  this.notification(
                    "error",
                    "Fue necesario recargar la página",
                    0
                  );
                  location.reload();
                }
              });
          }
        });
    },
  },
};
</script>

<style scoped>
</style>
