<template>
    <div class="pcoded-content">
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Gestión Productos</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item">
                                <router-link  :to="{name:'landing.page'}">
                                    <i class="fas fa-users"></i>
                                </router-link>
                            </li>
                            <li class="breadcrumb-item">
                                <router-link  :to="{name:'producto.crear'}">
                                    Editar Cliente
                                </router-link>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <div class="col-sm-12">
                            <div class="btn-actions">
                                <div class="btn-group card-option">
                                    <el-tooltip class="item" effect="dark" content="Regresar" placement="top">
                                        <button class="btn btn-icon btn-outline-primary" @click.prevent="goBack">
                                            <i class="fas fa-arrow-left"></i>
                                        </button>
                                    </el-tooltip>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <form @submit.prevent>
                            <div class="row">

                              <div class="col-sm-6">
                            <div class="form-group">
                                <label for="Titulo2">Titulo General (*)</label>
                                <input
                                type="text"
                                class="form-control"
                                id="Titulo2"
                                placeholder="Titulo2"
                                v-model="record.titulo"
                                @keyup.enter="setEditarProducto"
                                />
                             </div>
                               </div>

                                <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="Nombre2">Nombre (*)</label>
                                    <input
                                    type="text"
                                    class="form-control"
                                    id="Nombre2"
                                    placeholder="Nombre2"
                                    v-model="record.description"
                                    @keyup.enter="setEditarProducto"
                                    />
                                  </div>
                                   </div>  
                                
                              <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="Detalle2">Descripción (*)</label>
                                    <textarea
                                    type="text"
                                    class="form-control"
                                    id="Detalle2"
                                    placeholder="Detalle2"
                                    v-model="record.detalle"
                                    @keyup.enter="setEditarProducto"
                                    />
                                </div>
                                </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="Promesa2">Promesa (*)</label>
                                    <input
                                    type="text"
                                    class="form-control"
                                    id="Promesa2"
                                    placeholder="Promesa2"
                                    v-model="record.promesa"
                                    @keyup.enter="setEditarProducto"
                                    />
                                </div>
                                </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                          <label for="Tipomedia2">Elegir imagen o video (*)</label>
                            <el-select
                                v-model="record.tipomedia_id"
                                placeholder="Tipomedia2"
                                filterable
                                >
                                <el-option
                                 v-for="item in listTipomedia"
                                :key="item.id"
                                :label="item.name"
                                    :value="item.id"
                                 >
                                </el-option>
                                </el-select>
                         </div>
                    </div>

               <div class="col-sm-6">
                <template v-if="record.tipomedia_id == 1">
                  <div class="form-group">
                    <label for="Archivo2">Archivo</label>
                    <input
                      type="file"
                      class="form-control"
                      :class="record.media ? ' image-selected' : ''"
                      @change="getFile"
                    />
                  </div>
                </template>
                <template v-if="record.tipomedia_id == 2">
                  <div class="form-group">
                    <label for="Nombre">URL del Video(*)</label>
                    <input
                      type="text"
                      class="form-control"
                      id="Urlvideo2"
                      placeholder="URL Video"
                      v-model="record.video_url"
                    />
                  </div>
                </template>
              </div>

               <div class="col-sm-6">
                <div class="form-group">
                  <label for="Tipomoneda2">Tipo de moneda (*)</label>
                  <el-select
                    v-model="record.tipomoneda_id"
                    placeholder="Tipomoneda2"
                    filterable
                  >
                    <el-option
                      v-for="item in listTipomoneda"
                      :key="item.id"
                      :label="item.name"
                      :value="item.id"
                    >
                    </el-option>
                  </el-select>
                </div>
              </div>

              <div class="col-sm-6">
                <div class="form-group">
                  <label for="Ubicacion2">Dirección (*)</label>
                  <input
                    type="text"
                    class="form-control"
                    id="Ubicacion2"
                    placeholder="Ubicacion2"
                    v-model="record.ubicacion"
                    @keyup.enter="setEditarProducto"
                  />
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="Telefono2">Telefono (*)</label>
                  <input
                    type="text"
                    class="form-control"
                    id="Telefono2"
                    placeholder="Telefono2"
                    v-model="record.telefono"
                    @keyup.enter="setEditarProducto"
                  />
                </div>
                </div>

                <div class="col-sm-6">
                <div class="form-group">
                  <label for="Pago2"
                    ><input
                      type="checkbox"
                      v-model="record.pago_is"
                      class="mr-2"
                    />Pago (*)</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="Pago2"
                    placeholder="Pago2"
                    :disabled="!record.pago_is"
                    v-model="record.pago"
                    @keyup.enter="setEditarProducto"
                  />
                </div>
              </div>

              <div class="col-sm-6">
                <div class="form-group">
                  <label for="Correo_notificacion2"
                    >Correo_notificacion(*)</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="Correo_notificacion2"
                    placeholder="Correo_notificacion2"
                    v-model="record.correo_notificacion"
                    @keyup.enter="setEditarProducto"
                  />
                </div>
              </div>

               <h4>PERSONALIZACIÓN DE LADINGPAGE</h4>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="">Elegir imagen de fondo</label>
                  <input
                    type="file"
                    class="form-control"
                    :class="record.image_fondo_id ? ' image-selected' : ''"
                  
                  />
                </div>
              </div>

               <!-- <div class="col-sm-6">
                <div class="form-group">
                  <label for="Color">Color Fondo(*)</label>
                  <input type="hidden" value="rpt" id="idcolor" />
                  <input
                    type="color"
                    class="form-control"
                    id="Color"
                    placeholder="Color"
                    v-model="record.color"
                    @keyup.enter="setEditarProducto"
                  />
                </div>
              </div>-->

            <!--  <div class="col-sm-6">
                <div class="form-group">
                  <label for="Colorletra">Color Letra(*)</label>
                  <input
                    type="color"
                    class="form-control"
                    id="Colorletra"
                    placeholder="Colorletra"
                    v-model="record.colorletra"
                    @keyup.enter="setEditarProducto"
                  />
                </div>
              </div>-->

               <!--<div class="col-sm-6">
                <div class="form-group">
                  <label for="colorcabezera">Color Cabezera(*)</label>
                  <input
                    type="color"
                    class="form-control"
                    id="Colorcabezera"
                    placeholder="Colorcabezera"
                    v-model="record.colorcabezera"
                    @keyup.enter="setEditarProducto"
                  />
                </div>
              </div>-->

              <div class="col-sm-6">
                  <div class="form-group">
                    <label for="Titulo_formulario">Titulo Formulario (*)</label>
                    <textarea
                      type="text"
                      class="form-control"
                      id="Titulo_formulario"
                      placeholder="Titulo_formulario"
                      v-model="record.titulo_formulario"
                      @keyup.enter="setEditarProducto"
                    />
                  </div>
                </div>

             <!--   <div class="col-sm-6">
                <div class="form-group">
                  <label for="colorformulario">Color Furmulario(*)</label>
                  <input
                    type="color"
                    class="form-control"
                    id="Colorformulario"
                    placeholder="Colorformulario"
                    v-model="record.colorformulario"
                    @keyup.enter="setEditarProducto"
                  />
                </div>
              </div>-->

             <!-- <div class="col-sm-6">
                <div class="form-group">
                  <label for="Tamañoletra">Tamaño de letra(*)</label>
                  <select
                    class="form-select"
                    aria-label="Default select example"
                  >
                    <option selected>Open this select menu</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                  </select>
             
                </div>
              </div>-->

               <h4>AGREGAR CAMPOS AL FORMULARIO OPCIONAL</h4>
                   <div class="col-sm-6">
                <div class="form-group">
                  <label for="Dni"
                    ><input
                      type="checkbox"
                      v-model="record.dni_is"
                      class="mr-2"
                    />Dni (*)</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="Dni"
                    placeholder="Dni"
                    :disabled="!record.dni_is"
                    v-model="record.dni"
                    @keyup.enter="setEditarProducto"
                  />
                </div>
              </div>

              <div class="col-sm-6">
                <div class="form-group">
                  <label for="Direccion"
                    ><input
                      type="checkbox"
                      v-model="record.direccion_is"
                      class="mr-2"
                    />Dirección (*)</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="Direccion"
                    placeholder="Direccion"
                    :disabled="!record.direccion_is"
                    v-model="record.direccion"
                    @keyup.enter="setEditarProducto"
                  />
                </div>
              </div>
     
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <button type="button" class="btn btn-outline-primary has-ripple" @click.prevent="setEditarProducto" v-loading.fullscreen.lock="fullscreenLoading">Guardar</button>
                                    <button type="button" class="btn btn-outline-info has-ripple " @click.prevent="limpiarCriterios">Limpiar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return {
                record: {
                    id: this.$attrs.id,
                    description: "",
        detalle: "",
        titulo:"",
        price: "",
        //  media: "",
        ubicacion: "",
        telefono: "",
        pago: "",
        pago_is: false,
         dni_is: false,
         direccion_is: false,
         dni_is: false,
        correo_notificacion: "",
       // color: "",
       // colorcabezera: "",
       // colorformulario:"",
       // tamañoletra: "",
        image: "",
        image_fondo: "",
        titulo_formulario:"",
        promesa:"",
        tipomedia_id: "",
        tipomoneda_id: "",
        image_fondo_id: "",
         dni: "",
          direccion: "",
        // colorletra: "",
        file_id: "",
        video_url: "",
                },
                 listTipomedia: [],
      fullscreenLoading: false,
      form: new FormData(),
      error: 0,
      listTipomoneda: [],
      fullscreenLoading: false,
      error: 0,
            }
        },

          watch: {
    "record.pago_is": {
      handler: function (val) {
        this.record.pago = "";
        this.record.dni="";
        this.record.direccion="";

      },
    },
  },
        
   mounted() {
            this.getProductoById();
            
        },
        
       getFile(e) {
      this.record.image = e.target.files[0];
    },
    getFileFondo(e) {
      this.record.image_fondo = e.target.files[0];
    }, 
   
     async getListarTipomedia() {
      this.fullscreenLoading = true;

      var url = "/configuracion/tipomedia/index";

      const res = await this.callApi("get", url);

      if (res.status == 200) {
        this.listTipomedia = res.data;
      } else {
        if (res.status == 401) {
          this.$router.push({ name: "login" });
          location.reload();
          localStorage.clear();
        }
        if (res.status == 419) {
          this.notification("error", "Fue necesario recargar la página", 0);
          location.reload();
        }
      }
      this.fullscreenLoading = false;
    },
    async getListarTipomoneda() {
      this.fullscreenLoading = true;

      var url = "/configuracion/tipomoneda/index";

      const res = await this.callApi("get", url);

      if (res.status == 200) {
        this.listTipomoneda = res.data;
      } else {
        if (res.status == 401) {
          this.$router.push({ name: "login" });
          location.reload();
          localStorage.clear();
        }
        if (res.status == 419) {
          this.notification("error", "Fue necesario recargar la página", 0);
          location.reload();
        }
      }
      this.fullscreenLoading = false;
    },
    
   methods: {
            
           async getProductoById(){
                this.fullscreenLoading = true;

                var url = 'landing/landing-page/show/' + this.record.id

                const res = await this.callApi('get', url)

                if (res.status == 200) {
                    this.record.description  =  res.data.description;
                    this.record.titulo  =  res.data.titulo;
                    this.record.price     =   res.data.price;
                    this.record.ubicacion       =   res.data.ubicacion;
                    this.record.telefono=   res.data.telefono;
                    this.record.pago=   res.data.pago;
                    this.record.correo_notificacion=   res.data.correo_notificacion;
                  //  this.record.color=   res.data.color;
                    //this.record.colorcabezera=   res.data.colorcabezera;
                    //this.record.colorformulario=   res.data.colorformulario;
                    //this.record.tamañoletra=   res.data.tamañoletra;
                    this.record.image=   res.data.image;
                    this.record.image_fondo=   res.data.image_fondo;
                    this.record.titulo_formulario=   res.data.titulo_formulario;
                    this.record.promesa=   res.data.promesa;
                    this.record.tipomedia_id=   res.data.tipomedia_id;
                    this.record.tipomoneda_id=   res.data.tipomoneda_id;
                    this.record.image_fondo_id=   res.data.image_fondo_id;
                    this.record.dni=   res.data.dni;
                    this.record.direccion=   res.data.direccion;
                    //this.record.colorletra=   res.data.colorletra;
                    this.record.file_id=   res.data.file_id;
                    this.record.video_url=   res.data.video_url;
                    this.fullscreenLoading = false;

                     this.getListarTipomedia()
                     this.getListarTipomoneda()
  
                     } else {
                    if (res.status == 401) {
                        this.$router.push({name: 'login'})
                        location.reload();
                        localStorage.clear();
                    }
                    if (res.status == 419) {
                        this.notification('error', 'Fue necesario recargar la página', 0)
                        location.reload();
                    }
                }
                this.fullscreenLoading  =   false;
            },
            async getListarTipomedia() {
      this.fullscreenLoading = true;

      var url = "/configuracion/tipomedia/index";

      const res = await this.callApi("get", url);

      if (res.status == 200) {
        this.listTipomedia = res.data;
      } else {
        if (res.status == 401) {
          this.$router.push({ name: "login" });
          location.reload();
          localStorage.clear();
        }
        if (res.status == 419) {
          this.notification("error", "Fue necesario recargar la página", 0);
          location.reload();
        }
      }
      this.fullscreenLoading = false;
    },
    async getListarTipomoneda() {
      this.fullscreenLoading = true;

      var url = "/configuracion/tipomoneda/index";

      const res = await this.callApi("get", url);

      if (res.status == 200) {
        this.listTipomoneda = res.data;
      } else {
        if (res.status == 401) {
          this.$router.push({ name: "login" });
          location.reload();
          localStorage.clear();
        }
        if (res.status == 419) {
          this.notification("error", "Fue necesario recargar la página", 0);
          location.reload();
        }
      }
      this.fullscreenLoading = false;
    },
            
             async setRegistrarArchivo() {
      this.form.append("file", this.record.image);
      this.form.append("path", "user");

      const config = { headers: { "Content-Type": "multipart/form-data" } };

      var url = "/file/store";

      const res = await this.callApi("post", url, this.form, config);

      if (res.status == 200) {
        this.record.file_id = res.data;
        if (!this.record.image_fondo) {
          this.setGuardarProducto();
        } else {
          this.setRegistrarArchivoFondo();
        }
      } else {
        if (res.status == 422) {
          for (let i in res.data.errors) {
            this.notification("error", res.data.errors[i][0]);
          }
        }
        if (res.status == 401) {
          this.$router.push({ name: "login" });
          location.reload();
          localStorage.clear();
        }
        if (res.status == 419) {
          this.notification("error", "Fue necesario recargar la página", 0);
          location.reload();
        }
      }
      this.fullscreenLoading = false;
    },
     async setRegistrarArchivoFondo() {
      this.form.append("file", this.record.image_fondo);
      this.form.append("path", "user");

      const config = { headers: { "Content-Type": "multipart/form-data" } };

      var url = "/file/store";

      const res = await this.callApi("post", url, this.form, config);

      if (res.status == 200) {
        this.record.image_fondo_id = res.data;
        this.setGuardarProducto();
      } else {
        if (res.status == 422) {
          for (let i in res.data.errors) {
            this.notification("error", res.data.errors[i][0]);
          }
        }
        if (res.status == 401) {
          this.$router.push({ name: "login" });
          location.reload();
          localStorage.clear();
        }
        if (res.status == 419) {
          this.notification("error", "Fue necesario recargar la página", 0);
          location.reload();
        }
      }
      this.fullscreenLoading = false;
    },

     async setEditarProducto(){
                if (this.validarRegistrarProducto()) {
                    return;
                }
                var url = '/landing/landing-page/update/' + this.record.id

                const res = await this.callApi('put', url, this.record)

                if (res.status == 200) {
                    this.notification('success', 'Registro actualizado con éxito', 0)
                    this.$router.push('/landing-page');
                } else {
                    if (res.status == 422) {
                        for(let i in res.data.errors){
                            this.notification('error', res.data.errors[i][0])
                        }
                    }
                    if (res.status == 401) {
                        this.$router.push({name: 'login'})
                        location.reload();
                        localStorage.clear();
                    }
                    if (res.status == 419) {
                        this.notification('error', 'Fue necesario recargar la página', 0)
                        location.reload();
                    }
                }
                this.fullscreenLoading  =   false;
            },

              validarRegistrarProducto(){
                this.error = 0;

                if (!this.record.id) {
                    this.notification('error', 'El Cliente debe existir', 0)
                    this.error = 1;
                }
                if (!this.record.description) {
                    this.notification('error', 'El Código es un campo obligatorio', 0)
                    this.error = 1;
                }
               

                return this.error;
            }
            
    
   }
   
   
        
    }
    
</script>

<style>

</style>
